@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bungee&display=swap");

@import "tailwindcss";

root {
  --color-base-100: #23002b;
  --color-base-200: #e894ff;
  --color-base-300: #002529;
  --color-base-400: #94ffe4;
  --color-base-500: #291900;
  --color-base-600: #ffab46;
}

@theme inline {
  --color-base-100: #23002b;
  --color-base-200: #e894ff;
  --color-base-300: #002529;
  --color-base-400: #94ffe4;
  --color-base-500: #291900;
  --color-base-600: #ffab46;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 900;
  font-size: clamp(3rem, 10vw, 15rem);
  letter-spacing: -0.02em;
  line-height: 0.8;
}
